<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div width="100%" style="margin:0;background-color:#f0f2f3">

        <div style="margin:auto;max-width:600px;padding-top:50px" class="m_-4023731733761957050email-container">



            <table role="presentation" cellspacing="0" cellpadding="0" width="100%" align="center" id="m_-4023731733761957050logoContainer" style="background:#252f3d;border-radius:3px 3px 0 0;max-width:600px">
                <tbody>
                    <tr>
                        <td style="background:#252f3d;border-radius:3px 3px 0 0;padding:20px 0 10px 0;text-align:center">
                            <img src="http://27.71.235.76:8086/Data/Images/omini.png" width="75" height="45" alt="AWS logo" border="0" style="font-family:sans-serif;font-size:15px;line-height:140%;color:#555555" class="CToWUd" data-bit="iit">
                        </td>
                    </tr>
                </tbody>
            </table>


            <table role="presentation" cellspacing="0" cellpadding="0" width="100%" align="center" id="m_-4023731733761957050emailBodyContainer" style="border:0px;border-bottom:1px solid #d6d6d6;max-width:600px">
                <tbody>
                    <tr>
                        <td style="background-color:#fff;color:#444;font-family:'Amazon Ember','Helvetica Neue',Roboto,Arial,sans-serif;font-size:14px;line-height:140%;padding:25px 35px">
                            <h1 style="font-size:20px;font-weight:bold;line-height:1.3;margin:0 0 15px 0">Mã xác thực trên hệ thống Choxe.com</h1>
                            <p style="margin:0;padding:0">Bước cuối cùng để hoàn thành đăng ký trên CHOXE.COM. <br /> Vui lòng nhấn xác thực phía dưới</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#fff;color:#444;font-family:'Amazon Ember','Helvetica Neue',Roboto,Arial,sans-serif;font-size:14px;line-height:140%;padding:0px 35px 50px">
                            <a style="background-color:#ec7211;color:white;padding-top:5px;text-align:center;text-decoration:none;width:173px;height:32px;border-radius:2px;font-family:'Amazon Ember','Helvetica Neue',Roboto,Arial,sans-serif;font-size:14px;display:table-row" href="{register-url}" target="_blank">
                                <div style="display:table-cell;vertical-align:middle;padding:10px 20px">
                                    Xác thực tài khoản
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#fff;border-top:1px solid #e0e0e0;color:#777;font-family:'Amazon Ember','Helvetica Neue',Roboto,Arial,sans-serif;font-size:14px;line-height:140%;padding:25px 35px">
                            <p style="margin:0 0 15px 0;padding:0 0 0 0">Hệ thống CHOXE.COM sẽ không bao giờ gửi email cho bạn và yêu cầu bạn tiết lộ hoặc xác minh mật khẩu, thẻ tín dụng hoặc số tài khoản ngân hàng của bạn.</p>
                        </td>
                    </tr>
                </tbody>
            </table>





        </div>

    </div><div class="adL">
    </div>
</body>
</html>